[paths]
data = {{ grafana_config_data }}
logs = {{ grafana_config_logs }}

[server]
http_port = {{ grafana_config_http_port }}
protocol = {{ grafana_config_protocol }}

[database]

[session]

[analytics]

[security]
admin_user = {{ grafana_config_admin_user }}
admin_password = {{ grafana_config_admin_password }}

[users]

[auth.anonymous]

[auth.github]

[auth.google]

[log]

[log.console]

[log.file]

[event_publisher]
